* {
  margin:0;
  padding:0;
  text-decoration: none;
}
:root {
  --bg-color:rgba(0, 0, 0, 0.9);
  --bg-cover: url("../img/templater-main.jpg");
  --second-bg-color:#111e2f,#323946;
  --text-color:azure;
  --main-color:#0ef;
  --bg-window: rgba(0,0,0,0.5);

  /* Window Error Messages style */  
  --error-bg:rgba(255, 232, 232); --error-color: crimson;
  --error-border:1px solid var(--error-color); 
  --error-disp:none; --error-radius:5px; 
  --error-font-w:bold; --error-padding: 5px 25px;
  --error-max-w:100%; --error-marg-b:10px; --error-marg-t:-5px;
}
body {
  background: url("../img/templater-main.jpg") no-repeat;
  background-color:#00221F; /* to blend-in with background image */
}

/* Upper Navigation Panel */
header {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  padding:2rem 9%;
  background: var(--bg-window);
  box-shadow: 0 0 25px 0 blue;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.logo { 
  position:absolute;
  margin:0;
}
header #nav-signup { z-index:2; }
nav {
  display: flex; /* Enable flex layout */
  justify-content: flex-end; /* Space links from the right side */
  align-items: center; /* Center links vertically */
}
nav a {
  font-size: 1.7rem;
  color: var(--text-color);
  transition:.3s;
  cursor:pointer;
  margin-left: 2rem;
}
nav a:hover, nav a.current {
  color: var(--primary-color);
}
nav a.current { cursor:default; }
ul li.on { cursor:default; margin-left:20px; }
ul li .m-on { color: #ddd; }
#menu-icon {
  font-size:3rem;
  color: var(--text-color);
  opacity:0;
}

/* Main Content */
.container {
  max-width: 76ch;
  margin: auto;
  padding: 0 .5rem;
}
.tagline {
  font-style:italic;
  opacity: 0;
  transition: opacity 1s ease;
  animation: fadeIn 1s ease forwards;
  animation-delay: 1s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* (Mobile) Resume Side Panel */
#mobilecv > select {
  background:transparent;
}
.m-dropup {
  display:none;
  position:fixed;
  padding:0.8rem;
  bottom:4.2rem;
  width:100%;
  color:var(--primary-color);
  border: 1px solid var(--primary-color-dark);
  border-radius:10px;
  background:var(--bg-window); 
  z-index:1;
}
.m-dropup option { 
  margin-top:10px;
  padding-left:8px;
  color:var(--primary-color); 
  background:var(--bg-window); 
}

.m-sidebar {
  display:none;
  position:fixed;
  bottom:0;
  width:100%;
  border: 1px solid var(--primary-color-dark);
  border-radius:10px;
  background-color: rgba(0,0,0,0.5);
  z-index:1;
}
.m-sidebar ul { list-style-type: none; }

/* Resume Side Panel */
.sidebar {
  position: fixed;
  top:8%;
  border: 1px solid var(--primary-color-dark);
  border-radius:10px;
  background-color:var(--bg-window);
  color: var(--text-color);
  padding: 1rem; 
  width:14rem;
}
.sidebar button { width: 100%; }
#profile button { margin-left:12px; }
.New, .Add { background: rgb(42, 170, 42); }
#Template, .Add, .Save, .Trash { 
  height: 30px; /* Adjust the height as per your requirements */
  line-height: 0; /* Should match the height of the button */
  text-align: center; 
}
.New:hover, .Add:hover { background: rgb(37, 146, 37); }
.Trash { background: rgb(201, 39, 39); }
.Del { background: rgb(201, 39, 39); }
.Del:hover, .Trash:hover { background: rgb(176, 45, 45); }

.button-container {
  text-align: left;
  white-space: nowrap;
  overflow-x: auto;
}
.button-container button {
  display: inline-block;
  margin-left: 10px; /* Add a left margin of 5px */
}
.button-container button:not(:first-child) {
  margin-left: 0; /* Remove the left margin from the first button */
}
.label-container {
  display: flex;
  justify-content: left;
}
.label-group {
  display: flex;
  justify-content: left;
  /*gap: 9rem; /* Adjust the gap between labels if needed */
}
.label-group > label {
  pointer-events: none;
  width: 13rem;
  margin-bottom:-20px;
}

.input-container {
  text-align: left;
  white-space: nowrap;
  overflow-x: auto;
}
.input-group {
  display: inline-block;
  margin-right: 10px;
}
.input-group:last-child {
  margin-right: 0;
}
.input-group input[type="text"] {
  display: block;
  max-width: 12rem;
  margin:2rem 0 1rem 0;
}

.sidebar ul { list-style-type: none; }
.sidebar ul li {
  padding:15px 0 0;
  border-bottom:1px solid rgba(107, 107, 107, 0.738);
  border-top:1px solid rgba(225, 225, 225, 0.05);
  transition: .3s ease-in-out;
}
.sidebar ul li:hover { margin-left:20px; }
.sidebar ul li a { 
  display:block;
  color:azure;
  cursor:pointer;
}
.resume-select {
  color: rgb(68, 189, 250);
}
.sidebar .dropdown {
  width:100%;
  color:var(--primary-color);
  border: 1px solid var(--primary-color-dark);
  border-radius:10px;
  background:var(--bg-window); 
}

/* Circle Sphere */
#round {
  padding:40px; opacity:0;
  position:relative;
  filter: url(#wavy) blur(1px);
  transition: all 3s;
  transition-delay:1s;
}
#round:before {
  content:'';
  position:absolute;
  height:300px;
  width:300px;
  border:8px solid #fff;
  border-radius:50%;
  box-shadow: 0 0 50px rgb(204, 0, 255), inset 0 0 50px rgb(204, 0, 255); 
  animation: animate 3s linear infinite;
}
#round:after {
  content:'';
  position:absolute;
  height:300px;
  width:300px;
  border:8px solid #fff;
  border-radius:50%;
  box-shadow: 0 0 50px rgb(204, 0, 255), inset 0 0 50px rgb(204, 0, 255);
}
@keyframes animate {
    0% {
      box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
      filter: hue-rotate(0deg);
    }
    20% {
      box-shadow: 0 0 60px #0f0, inset 0 0 60px #0f0;
    }
    40% {
      box-shadow: 0 0 40px rgba(204, 0, 255, 0.71), inset 0 0 40px rgba(204, 0, 255, 0.71);
    }
    60% {
      box-shadow: 0 0 60px #0f0, inset 0 0 60px #0f0;
    }
    80% {
      box-shadow: 0 0 100px #0f0, inset 0 0 100px #0f0;
    }
    100% {
      box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
      filter: hue-rotate(360deg);
    }
}

/* Resume Icon - Call-to-action Button */
#action {
  position:relative;
  background-color: inherit;
  width:150px;
}
#action:hover {
  transform:translateY(-0.5em);
  /*box-shadow: 0 0 50px rgb(255, 0, 0), inset 0 0 50px rgb(255, 0, 0); rgb(204, 0, 255)*/
  border-radius:50%;
}

/* Screen-Shadow */
#overlay {
  position: fixed;
  opacity:0;
  transition: 200ms ease-in-out;
  top:0;
  left:0;
  right:0;
  bottom:0;  
  background-color: rgba(0, 0, 0, .6);
  pointer-events:none;
}
#overlay.active {
  opacity:1;
  pointer-events:all;
}

/* Login Window/Modal */
.window {
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid var(--primary-color-dark);
  border-radius:10px;
  background-color:var(--bg-window);
  color: var(--text-color);
  z-index:1;
}
.window button { width:100%; }
.window .close-button {
  margin:6px;
  padding: 0px;
}
.window.active {
  transform:translate(-50%, -50%) scale(1);
}

.window-title {
  font-size: 1.25rem;
  padding:5px 15px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.window-title .title { font-weight:bold; }
.window-title .close-button {
  font-weight: normal;
  background:none;
  border: 1px solid var(--primary-color);
  max-width:6.5rem; 
}
.window-body { padding:10px; }
.window-body .error-uid { margin-top:-15px; }
.window-terms { padding:10px; background-color: rgba(0, 0, 0, 0.868); }
.terms {
  position:fixed;
  margin-top: 18rem;
  left:50%;
  border: 1px solid var(--primary-color-dark);
  border-radius:10px;
  background-color:var(--bg-window);
  color: var(--text-color);
}
.success-message {
  background:rgb(232, 255, 233); 
  border: 1px solid rgb(20, 220, 100); 
  border-radius: var(--error-radius); color: rgb(20, 220, 100);
  font-weight: var(--error-font-w); padding: var(--error-padding);
  max-width: var(--error-max-w); margin-bottom: var(--error-marg-b); margin-top:var(--error-marg-t);
}
.error-message {
  background: var(--error-bg); 
  border: var(--error-border); 
  border-radius: var(--error-radius); color: var(--error-color);
  font-weight: var(--error-font-w); padding: var(--error-padding);
  max-width: var(--error-max-w); margin-bottom: var(--error-marg-b); margin-top:var(--error-marg-t);
}
.golden-message {
  background: rgb(255, 246, 178);
  border: 2px solid rgb(220, 207, 20);
  border-radius: var(--error-radius); color: rgb(220, 20, 210);
  font-weight: var(--error-font-w); padding: var(--error-padding);
  max-width: var(--error-max-w); margin-bottom: var(--error-marg-b); margin-top:var(--error-marg-t);
}
.error-uid, .error-pwd, .error-res, .error-select, 
.error-profile-tab, .error-resume-tab, .error-work-tab,
.error-education-tab, .error-skill-tab, .error-motivation-tab {
  background: var(--error-bg);  
  border: var(--error-border); display:var(--error-disp);
  border-radius: var(--error-radius); color: var(--error-color);
  font-weight: var(--error-font-w); padding: var(--error-padding);  
  max-width: var(--error-max-w); margin-bottom: var(--error-marg-b); margin-top: var(--error-marg-t);
  position:absolute; z-index:2;
}

/* Registration Area */
#slide-window {
  position:absolute;
  top:58%;
  transform:translate(-50%, -50%) scale(1);
}
.tab { display: none; }
input.invalid { background-color: #ffdddd; }
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.step.active { opacity: 1; }
.step.finish {
  background-color: #04AA6D;
  box-shadow: inset 0 0 10px 2px rgba(0, 255, 182, 0.5), 0 0 10px 2px rgba(0, 255, 135, 1);
  animation: pulse 1s alternate infinite;
}
@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 10px 2px rgba(0, 255, 182, 0.5), 0 0 5px 2px rgba(0, 255, 135, 0.3);
  }
  100% {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 10px 2px rgba(0, 255, 182, 0.5), 0 0 15px 2px rgba(0, 255, 135, 1);
  }
}
#prevBtn, #nextBtn { width:35%; }
#nextBtn { float:right; }
.rotator {
  width:100%;
  display: flex;
  justify-content: space-between;
}

/* Account Settings Area */
.collapse {
  overflow:auto;
  font-weight:500;
}
.collapse .check { display: none; }

.collapse label {
  position:relative;
  font-weight:600;
  background:#fff;
  color:var(--text-dark);
  display:block;
  cursor:pointer;
  padding: 15px;
  border-radius: 4px;
}
.collapse label:after {
  content:"";
  position:absolute;
  right:15px; top:15px; width:18px; height: 18px;
}
.collapse form .left {
  float:left;
  width:50%;
  padding: 0 10px;
}
.collapse form .left label { cursor:default; }
.left > .tab { display: block; }
.tab select { width:4rem; }
#year-select { width: 5rem; }

.collapse-text {
  max-height:1px;
  overflow:auto;
  border-radius: 4px;
  line-height:1.4;
  position:relative;
  top:-100%;
  opacity:0.5;
  transition: all 0.3s ease;
}
.collapse-text h5, p { padding: 15px 0 0 15px; }
.collapse-text form label { pointer-events: none; }
.collapse-text form input { border: 1px solid transparent; transition: border 0.3s ease; }
.collapse-text form textarea { border: 2px solid rgba(0,0,0,.2); transition: border 0.3s ease; }
.collapse-text form textarea:focus { border: 2px solid black; }
.collapse-text form input:focus { border: 1px solid black; }
.collapse-text form table { margin-top:5px; }
.collapse-text img{
  border-radius: 50%;
  border: 3px dotted rgb(0, 255, 17);
  cursor:pointer;
  max-height:10rem;
  max-width:10rem;
}
input[type="file"] { display: none; }
.custom-file-upload {
  margin-top:-2px;
  height: 200px;
  max-width: 200px;
}
.row-field {display: block;}

.collapse 
  #collapse-head1:checked ~ #field1, 
    #collapse-head2:checked ~ #field2, 
    #collapse-head3:checked ~ #field3,
      #collapse-head4:checked ~ #field4,
      #collapse-head5:checked ~ #field5,
        #collapse-head6:checked ~ #field6 {
  max-height:520px;
  padding-bottom:25px;
  background:#fff;
  box-shadow: 0 5px 1px 0 rgba(0,0,0,.1), 0 4px 11px 0 rgba(0,0,0,.08);
  opacity:1;
  top:0;
}

/* Two Media queries for screen orientation */
@media (orientation: landscape) {
  body { background-size: 100%; }
  .logo {
    height:6rem;
    width:6rem;
  }
  #action { left:34%; }
  .window { width: 500px; }
  .sidebar { max-width:20vw; }
  .collapse {
    position:absolute;
    top:15%;
    left:20%;
    max-width: 75%;
  }
}
@media (orientation: portrait) {
  body { overflow-x: hidden;}
  .logo {
    position:relative;
    height:3rem;
    width:3rem;
  }
  nav { display:flex; }
  nav.active a { display:block; }
  nav a {
    display:none;
    font-size: 1.2rem;    
  }  
  #menu-icon { 
    position:absolute;
    margin-left:4rem;
    opacity:1; 
  }
  #action { left:30%; }
  .window { width: 80%; }
  .sidebar { display:none; }
  .m-dropup { display:block; }
  .m-sidebar {  
    position:fixed;  
    display:block;   
    height:60px;
    bottom: -60px;
  }
  .m-sidebar ul {
    margin: 0.5rem;
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .m-sidebar ul li {
    flex: 1;
    margin: 0 0.85rem; /* Adjust the margin as needed */
    text-align: center;
  }
  #field6 { margin-bottom: 8rem;}
  .collapse {
    position:absolute;
    top:15%;
    left:0;
    max-width: 100%;
  }
  .collapse-text > .alt {
    max-width: 47%;
    height: 3.2rem;
  }
  .collapse form .left input[name='resumetitle'] { width:210%; }
  .collapse-text button { margin:5px 0 0 0;}
  .input-group input[type="text"] {
    font-size:10px;
    max-width: 5rem;
    margin:2rem 0 1rem 0;
  }
  .collapse-text form textarea { font-size:12px; }
  .label-group {
    width: 100%;
  }
  .input-group > input[name="technical"] {
    max-width: 7rem;
  }
  .input-group > input[name="language"] {
    max-width: 7rem;
  }
  .input-group > input[name="interest"] {
    max-width: 7rem;
  }
  .button-container {
    text-align: center; /* Center align the buttons */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  } 
  .button-container button {
    margin-left:0;
    margin-right:0;
    margin-top:1rem; /* Reset the left margin for center alignment */
  }
  #PDF { width: 100%; }
  .Download, .Add, .Save, .Trash { max-width:10rem; }
  header .error-message, .success-message, .golden-message {
    position:absolute;
    left:0;
    margin-top:32%;
    width:100%;
  }
  .terms {
    margin-top: 45rem;
    width:90%;
  }
  .left > .tab { display: inline-flex; }
  .tab select { width:3rem; }
  #year-select { width: 4rem; }
  .window { width: 100%; }
}
/* Tablet Specific */
@media screen and (min-width:700px) and (max-width:912px) {
  .window-title { font-size: 2rem; }
  .window-body { font-size: 2rem; }
}

/* ==========================================================================
                                TRONGATE CSS
========================================================================== */
/* ==========================================================================
  Custom Properties
========================================================================== */

:root {
    --primary-color: #4f46e5;
    --primary-color-dark: #4338ca;
    --text-dark: #334155;
    --text-light: #f8fafc;
  
    --font-sans: "Century Gothic", Tahoma, Arial, sans-serif;
    --font-serif: Georgia, Times, "Times New Roman", serif;
  }
  
  /* ==========================================================================
    Sensible defaults
  ========================================================================== */
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  ::selection {
    background-color: var(--primary-color);
    color: var(--text-light);
  }
  
  html,
  body {
    height: 100%;
    min-height: 100vh;
  }
  
  body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-serif);
    margin: 0;
    color: var(--text-dark);
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  /* ==========================================================================
    Typography
  ========================================================================== */
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-family: var(--font-sans);
  }
  
  h1 {
    font-size: 3.75rem;
    line-height: 1;
    margin: 1rem 0 1.5rem;
    color: var(--primary-color);
  }
  
  h2 {
    font-size: 3rem;
    line-height: 1;
    margin: 1rem 0 1rem;
  }
  
  h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin: 1rem 0 1rem;
  }
  
  h4 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin: 1rem 0 1rem;
  }
  
  h5 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1rem 0 0.5rem;
  }
  
  h6 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 1rem 0 0.2rem;
  }
  
  p {
    font-size: 1rem;
  }
  
  a {
    color: var(--primary-color);
  }
  
  a:hover {
    color: var(--primary-color-dark);
  }
  
  hr {
    border: 0;
    height: 1px;
    background-color: var(--text-dark);
    margin: 2em 0;
  }
  
  /* ==========================================================================
    Forms
  ========================================================================== */
  
  form {
    font-family: var(--font-sans);
    width: 100%;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    padding: 0.6em 0.6em;
    font-family: var(--font-sans);
    font-size: 1em;
    width: 100%;
    border: 1px var(--text-dark) solid;
  }
  
  input[type="text"]:focus,
  textarea:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  select:focus {
    border: 1px var(--primary-color) solid;
    outline: 0;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  button,
  input[type="submit"],
  input[type="reset"],
  textarea,
  select {
    border-radius: 0.25em;
  }
  
  textarea {
    padding: 0.6em 0.6em;
    font-size: 1.231em;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px var(--text-dark) solid;
    line-height: 1.6em;
  }
  
  label {
    margin: 1.4em 0 0.4em 0;
    display: block;
  }
  
  button,
  input[type="submit"],
  input[type="reset"] {
    margin-top: 1em;
    border: 0;
    background-color: var(--primary-color);
    color: var(--text-light);
    font-family: var(--font-sans);
    font-size: inherit;
    font-weight: bold;
    line-height: 1.2;
    white-space: nowrap;
    padding: 1em 2em;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  button:not(:last-child),
  input[type="submit"]:not(:last-child),
  input[type="reset"]:not(:last-child) {
    margin-right: 0.5em;
  }
  
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: var(--primary-color-dark);
  }
  
  input[type="checkbox"],
  input[type="radio"] {
    margin-top: 1.4em;
    width: 1.4em;
    height: 1.4em;
  }
  
  /* ==========================================================================
    Lists
  ========================================================================== */
  
  ul {
    margin: 2em 0;
    list-style-type: circle;
  }
  
  li {
    line-height: 1.8em;
    font-family: var(--font-sans);
  }
  
  /* ==========================================================================
    Tables
  ========================================================================== */
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    background-color: var(--primary-color);
    color: var(--text-light);
  }
  
  th,
  td {
    border: var(--primary-color-dark) solid;
    padding: 0.7em;
  }
  td:hover {
    cursor: pointer;
  }
  
  tr:hover,
  tr:nth-child(odd):hover {
    background-color: #fdfdea;
  }
  
  tr:nth-child(odd) {
    background-color: #f3f3f3;
  }
  
  /* ==========================================================================
    Layout Elements
  ========================================================================== */
  
  section {
    margin: 4rem 0;
  }
  
  footer {
    margin-top: 2em;
    justify-self: flex-end;
    width: 100%;
    font-family: var(--font-sans);
    font-size: 0.8em;
    text-align: center;
    background-color: var(--text-dark);
    color: var(--text-light);
    padding: 2em;
  }
  
  /* ==========================================================================
    Custom/Alternative Styles
  ========================================================================== */
  
  .alt {
    background-color: transparent;
    border: 2px var(--primary-color) solid;
    color: var(--primary-color);
  }
  
  .alt:hover {
    background-color: transparent;
    border: 2px var(--primary-color-dark) solid;
    color: var(--primary-color-dark);
  }
  
  /* ==========================================================================
    Media queries
  ========================================================================== */
  
  @media screen and (max-width: 550px) {
    button,
    input[type="submit"],
    input[type="reset"] {
      width: 100%;
    }
  }